@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to the Hasty Retreat</p>
<div id="images" class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="~/Content/Images/bee.png" alt="Picture of a bee" />
        </div>
    </div>
</div>

